@import url("https://fonts.google.com/specimen/Lexend+Deca");
@import url("https://fonts.google.com/specimen/Big+Shoulders+Display");
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(0, 0%, 95%);
}
.container {
    width: 90%;
    margin: 0 auto;
    border-radius: 100px;
}
img {
    width: 100%;
}
.car {
    color: hsl(0, 0%, 95%);
    padding: 3em;

}
.car img {
    width: 30%;
    margin-bottom: 20px
}

.car h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
}
.car p {
    margin-bottom: 30px;
    font-size: 15px;
    font-family: "Big Shoulders Display",sans-serif;
    font-weight: 400;
}
.sedan {
    background-color: hsl(31, 77%, 52%);
}
.sedan .button a{
    color: hsl(31, 77%, 52%);
    text-decoration: none;

}

.suv {
    background-color: hsl(184, 100%, 22%);
}
.suv .button a{
    color: hsl(184, 100%, 22%);
    text-decoration: none;

}


.luxury {
    background-color: hsl(179, 100%, 13%);
}
.luxury .button a{
    color: hsl(179, 100%, 13%);
    text-decoration: none;

}


.button {
    background-color: hsl(0, 0%, 95%);
    padding:  1em 1.5em;
    border-radius: 25px;
    font-family: "Big Shoulders Display ",sans-serif;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
}

@media (min-width:700px) {
    .container {
        display: flex;
    }
    .car {
        width: 33%;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }
    .button {
        align-self: flex-start;
        margin-top: 50px
    }
}